html, body {
    height: 100%;  /* Устанавливаем высоту для всего документа */
    margin: 0;  /* Убираем отступы */
    display: flex;  /* Используем flexbox для всего документа */
    flex-direction: column;  /* Растягиваем элементы по вертикали */
  }

  .content {
    flex: 1;  /* Заполняет все доступное пространство */
  }

  footer {
    margin-top: auto;  /* Отодвигает футер в самый низ */
  }